@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 227, 227, 227;
  --background-start-rgb: 19, 19, 20;
  --background-end-rgb: 19, 19, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
